# Example for Local Development (Windows)
# Rename this file to .env.local and place it in the `servers/nextjs` directory or the root directory.
# Ensure paths use Windows format (e.g., C:\...) but avoid committing this file to Git.

APP_DATA_DIRECTORY=D:\codeWorkspase\presenton\app_data
TEMP_DIRECTORY=D:\codeWorkspase\presenton\temp_data
USER_CONFIG_PATH=D:\codeWorkspase\presenton\app_data\user-config.json
PUPPETEER_EXECUTABLE_PATH=C:\Users\Administrator\.cache\puppeteer\chrome\win64-146.0.7680.76\chrome-win64\chrome.exe
NEXTJS_API_BASE_URL=http://127.0.0.1:3000
TEMPLATE_SOURCE=local
TEMPLATE_REMOTE_FALLBACK=false
TEMPLATE_CACHE_PRELOAD=true
